<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>ProjectHomework</title>
    <meta name="viewport" content="width=1024" />
    
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
  </head>

  <body>
    <div class="wrapper">

      <div class="header">
	<a class="logo roundbottom" href="#">ProjectHomework
	  <span>A Contest Entry</span>
	</a>
	<ul class="nav">
	  <li><a class="roundbottom" href="#">Home</a></li>
	</ul>
      </div>
      
      <div class="twocolrightb">
	<div class="column first">
	  <h1>Introducing ProjectHomework</h1>
	  <p>Having trouble with grades? Moodle got you down? Can't come up with a clever idea for an entry in a programming competition? Well, ProjectHomework has a solution for you!</p>
	  <p>As we all know, doing homework can be tough. But, for some people, the most difficut part of homework is remembering which assignments are due. Some people manage to do okay using notepads, but for the more techincal crowd, ProjectHomework tries to serve as an easy and fun way to remember which assignments you have to do.</p>
	  <p>So, ProjectHomework can help you with that. But what if you're not in class, or you're not paying attention, or you just completely forget to write a project down? "Oh no," you say. "What a beautiful and wonderful website constructed by such an intelligent (and probably dashing and handsome) young person. But, I can't use this. I'll never remember to put things in here."</p>
	  <p>Well, this legendary, dashing, and indeed handsome creator has thought ahead, and the problem is solved! ProjectHomework recognizes that we can be lazy sometimes, and lets you leverage other people's efforts to create tasks for you. ProjectHomework gives each user the ability to "subscribe" to other users, automatically adding a task to your account whenever any users you're subscribed to add a task. Through this, students can easily keep up with teachers and make sure that they didn't forget to write something down.</p>
	  <p>So, is that not cool enough for you? Have you begun using ProjectHomework, and become an upstanding and responsible citizen who always remembers to turn their homework in? Show off your newfound skills by proudly displaying your profile page!</p>
	  <p>When you create a ProjectHomework account, you're given your own personal page which lists all your tasks, and you can share this link with all your friends. Parents breathing down your neck? Problem solved, thanks to ProjectHomework!</p>
	  <p>
	    <div class="threecol">
	      <div class="column first">
		<h2>How?</h2>
		<p>ProjectHomework uses perl for pretty much everything. It uses the excellent <a href="http://perldancer.org/">Dancer</a> web framework, and uses the filesystem to store information, so you don't need any database software to run your application.</p>
	      </div>
	      <div class="column">
		<h2>Why?</h2>
		<p>Just for fun! Okay, well, it's also an entry into a programming competition, but it seemed like a good idea, and it's been on our minds for a while now.</p>
	      </div>
	      <div class="column last">
		<h2>How much?</h2>
		<p>$200.</p>
		<p>Just kidding, it's free. And open-source, too!</p>
	      </div>
	    </div>
	  </div>
	  <div class="column last sidecol">
	    <h4>Toolbar</h4>

	    <% IF session.username %>
	    <b><a href="/users/<% session.username %>"><% session.username %></a></b>
	    <br />
	    <form action="/add" method="post">
	      <input type="text" name="task" />&nbsp;<input type="submit" value="add" />
	    </form>
	    <a href="/logout">logout</a>
	    <div id="hr" />
	    <% ELSE %><form action="/login" method="post">
	      <table cellpadding="2px">
		<tr>
		  <td><b>username</b></td>
		  <td><input type="text" name="user" /></td>
		</tr>
		<tr>
		  <td><b>password</b></td>
		  <td><input type="password" name="pass" /></td>
		</tr>
		<tr>
		  <td><input type="submit" value="login" /></td>
		</tr>
	      </table>
	    </form>
	    <% END %>
	    <div class="hr"></div>
	    <b><% message %></b>
	  </div>
	</div><!-- column last sidecol -->
      </div><!-- twocolrightb -->	

      
      <div class="footer">
	<p>
	  &copy; 2008 <a href="#">Your Name</a> |  
	  <!-- Not required, but appreciated. -->
	  <a href="http://billyshall.com/templates/minimal">Minimal CSS Template</a> by Billy Shall
	</p>
      </div><!-- footer -->

    </div><!-- wrapper -->
  </body>
</html>
